body
{
	margin: 0;
	font-family: "Roboto", sans-serif;
	font-size: 20px;
}

.header
{
	background: #5677fc;
	color: #fff;
	padding: 20px 100px;
}

.header h1
{
	margin: 0;
	font-size: 56px;
	font-weight: normal;
}

.container
{
	margin: 40px 100px;
}

ul.projects
{
	list-style: none;
	padding-left: 0;
}

ul.projects:after
{
	clear: left;
	display: block;
	content: "";
}

.projects li
{
	float: left;
	margin-right: 3px;
}

.projects a
{
	display: inline-block;
	width: 200px;
	height: 200px;
	background: #d0d9ff;
	padding: 20px;
	color: #000;
	text-decoration: none;
}

.projects a:hover
{
	background: #2a36b1;
	color: #fff;
	box-shadow: 0px 3px 18px #aaa;
}

.projects .description
{
	display: inline-block;
	margin: 10px 0;
	opacity: 0.54;
}