header
{
	background: #5677fc;
	color: #fff;
}

ul.projects
{
	list-style: none;
	padding-left: 0;
}

.projects li
{
	display: inline;
}

.projects a
{
	display: inline-block;
	width: 200px;
	height: 200px;
	padding: 25px;
	color: #000;
}

.projects a:hover
{
	box-shadow: 0px 3px 18px #aaa;
}

.microbrowser a
{
	background: #ffccbc;
}

.microbrowser a:hover
{
	background: #ff5722;
	color: #fff;
}

.entangle a
{
	background: #fff9c4;
}

.entangle a:hover
{
	background: #ffeb3b;
}

.symmetry a
{
	background: #a3e9a4;
}

.symmetry a:hover
{
	background: #259b24;
	color: #fff;
}

.projects .title
{
	margin: 0.5em 0;
	font-size: 20px;
}

.projects .description
{
	display: inline-block;
	opacity: 0.54;
	margin: 0.5em 0;
	font-size: 15px;
}
